body{
    background-color: #f5d9d5;
    font-family: "Nunito",sans-serif;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color:#ea1c2c;
}

#heading span{
    color: #ea1c2c;
}

.s2 h2{
    color: #ea1c2c;
    font-size: 2.5rem;
    font-weight: 100;
}

.s2 p{
    color: #ea1c2c;
}